<section id="header">
  <img
    class="logo_mobile"
    (click)="uiService.goBack()"
    src="/img/header/header_mobile_logo.png"
    alt="Logo"
  />
  <span>Kanban Project Management Tool</span>

  @if (uiService.userLoggedIn) {
  <div class="header_login">
    <img routerLink="/user-help" src="/img/header/help.png" alt="Help" />
    <span (click)="toggleNavbarMenu()">G</span>
  </div>
  }
</section>

<div
  class="navbar_menu"
  [ngClass]="navbarVisible ? 'visible' : 'hidden'"
  [@slideInOut]="navbarVisible ? 'visible' : 'hidden'"
>
  <span routerLink="/user-help">Help</span>
  <span (click)="linkToImprint()">Imprint</span>
  <span (click)="linkToPrivacyPolicy()">Privacy Policy</span>
  <span (click)="logout()">Log Out</span>
</div>
