<section id="header">
  <img
    class="logo_mobile"
    (click)="uiService.goHome()"
    src="/img/header/header_mobile_logo.png"
    alt="Logo"
  />
  <span>Kanban Project Management Tool</span>

  @if (uiService.userLoggedIn) {
  <div class="header_login">
    <img (click)="uiService.goToRouteAndClose('user-help', true)" src="/img/header/help.png" alt="Help" />
    <span (click)="uiService.toggleNavbarMenu()">G</span>
  </div>
  }
</section>

<div
  class="navbar_menu"
  [ngClass]="uiService.navbarVisible ? 'visible' : 'hidden'"
  [@slideInOut]="uiService.navbarVisible ? 'visible' : 'hidden'"
>
  <span (click)="uiService.goToRouteAndClose('user-help', true)">Help</span>
  <span (click)="uiService.goToRouteAndClose('imprint', true)">Imprint</span>
  <span (click)="uiService.goToRouteAndClose('privacy-policy', true)">Privacy Policy</span>
  <span (click)="logout()">Log Out</span>
</div>
