$clr_bg: #f6f7f8;
$clr_card: #ffffff;
$clr_card_border: #d1d1d1;
$clr_dark_gray: #2a3647;

$border_radius_card: 30px;
$border_radius_input: 8px;

$clr_sidebar_active: #091931;
$clr_sidebar_hover: #2a3d59;
$clr_light_blue: #29abe2;
$clr_font_light: #cdcdcd;
$clr_light_red: #ff8190;
$clr_font_light_grey: #a8a8a8;
$clr_bg_light_grey: #e7e7e7;
$clr_background_bottom: #f3f3f3;

$clr_prio_red: #ff3d00;
$clr_prio_orange: #ffa800;
$clr_prio_green: #7ae229;

$clr_task_technical: #1fd7c1;
$clr_task_userstory: #0038ff;

$clr_bg_overlay: rgba(0, 0, 0, 0.25);

$box_shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

$header_box_shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

$card_box_shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);

$btn_hvr_box_shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

$linear_gradient_hvr_light_grey: linear_gradient(
  0deg,
  rgba(240, 240, 240, 1) 0%,
  rgba(249, 249, 249, 1) 100%
);

$card_box_shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
