@import "./colors.scss";

$border_radius_card: 30px;
$border_radius_input: 8px;

$bg_filter_clr: rgba(255, 255, 255, 0.2);

$clr_bg_overlay: rgba(0, 0, 0, 0.25);

$box_shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

$header_box_shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

$card_box_shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);

$btn_hvr_box_shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

$linear_gradient_hvr_light_grey: linear_gradient(
  0deg,
  rgba(240, 240, 240, 1) 0%,
  rgba(249, 249, 249, 1) 100%
);

$media_size_tabletxl: 1440px;
$media_size_tablet_xm: 1000px;
$media_size_tablet_xs: 750px;
$media_size_phone_xm: 680px;
$media_size_phone_xs: 480px;

$content_limit: 1920px;

.cur_p {
  @include curserPointer;
}

.card_wrapper {
  background-color: $clr_card;
  border-radius: $border_radius_card;
  box-shadow: $box_shadow;
}

.button_full {
  width: 6.5rem;
  height: 3rem;
  text-decoration: none;
  border: unset;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: $clr_dark_gray;
  color: $clr_bg;
  border-radius: $border_radius_input;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;

  &:hover {
    cursor: pointer;
    background-color: $clr_light_blue;
    box-shadow: $btn_hvr_box_shadow;
  }
}

.button_empty {
  width: 10rem;
  height: 3rem;
  text-decoration: none;
  border: unset;
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px solid $clr_sidebar_active;
  background-color: $clr_card;
  color: $clr_sidebar_active;
  border-radius: $border_radius_input;
  transition: color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $clr_light_blue;
    background-color: $clr_card;
    border: 1px solid $clr_light_blue;
    box-shadow: $btn_hvr_box_shadow;
  }
}
