<section>
  <div class="card card_wrapper">
    <div class="card_head">
      <img
        (click)="uiService.toggleSignUp()"
        src="/img/signUp/arrow_left.png"
        alt=""
      />
      <h1>
        Sign up
        <div class="seperator"></div>
      </h1>
    </div>

    <form class="signup_form" action="">
      <div class="input_layout">
        <div class="input_field">
          <input placeholder="Name" formControlName="email" required />
          <label>Name</label>
          <div class="icon">
            <img src="/img/log_in/person.png" alt="E-Mail" />
          </div>
        </div>

        <div class="input_field">
          <input
            autocomplete="email"
            placeholder="E-Mail "
            formControlName="email"
            required
          />
          <label>E-Mail</label>
          <div class="icon">
            <img src="/img/log_in/mail.png" alt="E-Mail" />
          </div>
        </div>

        <div class="input_field" id="pwField">
          <input
            id="password"
            autocomplete="current-password"
            type="password"
            placeholder=" Password"
            formControlName="password"
            required
          />
          <label>Password</label>
          <div class="icon">
            <img
              id="logInpwIcon"
              (click)="togglePasswordVisibility()"
              src="/img/log_in/lock.png"
              alt="Lock"
            />
          </div>
        </div>

        <div class="input_field">
          <input
            id="passwordConfirm"
            autocomplete="current-password"
            type="password"
            placeholder="Confirm Password"
            formControlName="password"
            required
          />
          <label>Confirm Password</label>
          <div class="icon">
            <img
              id="logInpwIcon"
              (click)="toggleConfirmPasswordVisibility()"
              src="/img/log_in/lock.png"
              alt="Lock"
            />
          </div>
        </div>

        <div class="password_check">
          <label class="password_checkbox">
            <input
              type="checkbox"
              required
              aria-label="I accept the Privacy Policy"
              required
            />
            <img
              src="img/log_in/unchecked.png"
              alt="Checkbox aktiv"
              class="checkmark"
            />
          </label>
          <p>
            I accept the
            <span
              class="privacy_policy"
              (click)="uiService.navigate('privacy-policy', false)"
              >Privacy Policy</span
            >
          </p>
        </div>

        <div class="buttons_wrapper">
          <button class="button_full">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</section>
