<section>
  <div class="head_wrapper">
    <img class="logo_img" src="/img/logIn/logo_desktop.png" alt="Logo" />
  </div>

  <div class="card card_wrapper">
    <div class="card_head">
      <img (click)="backToLogin()" src="/img/signUp/arrow_left.png" alt="" />
      <h1>
        Sign up
        <div class="seperator"></div>
      </h1>
    </div>







  </div>

  <div class="legal_informations">
    <p (click)="linkToImprint()">Imprint</p>
    <p (click)="linkToPrivacyPolicy()">Privacy Policy</p>
  </div>
</section>
