<section>
  <div class="contact_list">
    <div class="button_wrapper">
      <button class="add_contact_btn button_full">
        Add new Contact
        <img src="/img/contacts/person_add.png" alt="" />
      </button>
    </div>

    <div class="contact_list_scroll">
      <!-- Kontakte aus DB hinzufügen   -->
    </div>
  </div>

  <div class="contact_detail">
    <div class="contacts_detail_head">
      <h1>Contacts</h1>
      <div class="seperator"></div>
      <span>Better with a team</span>
    </div>
  </div>
</section>
