<section>
  <div class="contact_list">
    <div class="button_wrapper">
      <button class="add_contact_btn button_full">
        Add new Contact
        <img src="/img/contacts/person_add.svg" alt="" />
      </button>
    </div>

    <div class="contact_list_scroll">
      <!-- Kontakte aus DB hinzufügen   -->
    </div>
  </div>

  <div class="contact_detail">
    <div class="contacts_detail_head">
      <h1>Contacts</h1>
      <div class="seperator"></div>
      <span>Better with a team</span>
    </div>

    <div id="detail_wrapper">
      <div class="contacts_information_container">
        <div class="co_inf_head">
          <div class="profil_info">
            <span>AS</span>
          </div>

          <div class="profil_name">
            <span>Alan Smithee</span>
            <div class="profil_edit_delete">
              <div class="edit_area">
                <img src="/img/contacts/edit.svg" alt="Edit" />
                <span>Edit</span>
              </div>
              <div class="edit_area">
                <img src="/img/contacts/delete.svg" alt="Delete" />
                <span>Delete</span>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts_information">
          <h2>Contacts Information</h2>
          <h5>E-Mail</h5>
          <a href="mailto:alan.smithee@gmail.com">alan.smithee&#64;gmail.com</a>
          <h5>Phone</h5>
          <a href="tel:+49123456789">+49123456789</a>
        </div>
      </div>
    </div>
  </div>
</section>
