<section>
  <div class="contact_list">
    <div class="button_wrapper">
      <button class="add_contact_btn button_full">
        Add new Contact
        <img src="/img/contacts/person_add.png" alt="" />
      </button>
    </div>

    <div class="contact_list_scroll">
      <!-- Kontakte aus DB hinzufügen   -->
    </div>
  </div>

  <div class="contact_detail">
    <div class="contacts_detail_head">
      <h1>Contacts</h1>
      <div class="seperator"></div>
      <span>Better with a team</span>
    </div>

    <div id="detail_wrapper">
      <div class="contacts_information">
        <div class="co_inf_head">

          <div class="profil_info">
            <span>AS</span>
          </div>

          <div class="profil_name">
            <span>Alan Smithee</span>
            <div class="profil_edit_delete">
              <div class="edit_area">
                <img src="/img/contacts/edit.png" alt="" />
                <span>Edit</span>
              </div>
              <div class="edit_area">
                <img src="/img/contacts/delete.png" alt="" />
                <span>Delete</span>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
