@import "../../SCSS/colors.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/variables.scss";

#navbar {
  @include flexbox($jc: space-between, $fd: column);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 230px;
  padding: 4rem 0;
  background-color: $clr-dark-gray;
}

.navbar_logo {
  @include curserPointer;
  width: 100px;
  margin-bottom: 114px;
}

.legal_informations {
  @include flexbox($fd: column);
  width: 100%;
  text-align: center;

  span {
    width: 85%;
    padding: 0.5rem 2rem;
    border-radius: $border_radius_input;
    color: $clr_font_light_grey;

    &:hover {
      cursor: pointer;
      color: $clr_light_blue;
    }
  }
}

@media only screen and (max-width: 1440px) {
  #navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 0;
  }

  .navbar_logo {
    display: none;
  }

  .legal_informations {
    flex-direction: row;

    span {
      padding: 0;
    }
  }
}
