@import "../../SCSS/colors.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/variables.scss";

.active {
  background-color: $clr_sidebar_active;

  span {
    color: $clr_card;
  }
}

.navbar {
  @include flexbox($jc: space-between, $fd: column);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 12.5rem;
  padding: 4rem 0;
  background-color: $clr-dark-gray;
}

.navbar_logo {
  cursor: pointer;
  width: 100px;
  margin-bottom: 114px;
}

.sidebar_menu {
  @include flexbox($jc: none, $fd: column, $g: 1rem);
  width: 100%;
  flex: 1;
  margin-top: 5rem;
}

.menus {
  @include flexbox($jc: flex-start, $g: 1rem);
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  color: $clr_font_light_grey;
  font-size: clamp(12px, 2vw, 16px);
  border-radius: $border_radius_input;

  a {
    padding: 0.5rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $clr_sidebar_hover;
    transition: background-color 0.3s ease;

    a {
      color: $clr_card_border;
    }
  }
}

.legal_informations {
  @include flexbox($fd: column);
  width: 100%;
  text-align: center;

  a {
    width: 85%;
    padding: 0.5rem 2rem;
    border-radius: $border_radius_input;
    color: $clr_font_light_grey;

    &:hover {
      cursor: pointer;
      color: $clr_light_blue;
    }
  }
}

@media only screen and (max-width: $media_size_tabletxl) {
  .navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 0;
  }

  .navbar_logo {
    display: none;
  }

  .sidebar_menu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin: 0;

    @media (max-width: 850px) {
      width: 100%;
      gap: 5px;
    }
  }

  .menus {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
    width: 100%;
    margin-inline: 1rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  .legal_informations.d_none {
    display: none;
  }

  .legal_informations {
    flex-direction: row;

    a {
      width: 40%;
      padding: 0.5rem 0;
    }
  }
}

@media only screen and (max-width: $media_size_phone_xs) {
  .menus {
    justify-content: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;

    a {
      padding: 0;
      padding-top: 0.5rem;
    }
  }
}
