<section id="navbar" class="navbar">
  <img
    class="navbar_logo"
    (click)="uiService.goHome()"
    src="/img/sidebar/join_logo_white.png"
    alt="Logo"
  />

  @if (uiService.userLoggedIn) {

  <div class="sidebar_menu">
    @for (menu of menuService.menu; track $index) {
    <div
      class="menus"
      (click)="uiService.goToRouteAndClose(menu.routerLink, true)"
      [routerLink]="menu.routerLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="/img/sidebar/{{ menu.icon }}" alt="{{ menu.name }}" />
      <span>{{ menu.name }}</span>
    </div>
    }
  </div>
  }

  <div
    class="legal_informations"
    [ngClass]="uiService.userLoggedIn ? 'd_none' : ''"
  >
    <span routerLink="/imprint" routerLinkActive="active">Imprint</span>
    <span routerLink="/privacy-policy" routerLinkActive="active"
      >Privacy Policy</span
    >
  </div>
</section>
