<section>
  <div class="card card_wrapper">
    <h1>
      Log in
      <div class="seperator"></div>
    </h1>

    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input_layout">
        <div class="input_field">
          <input
            autocomplete="email"
            placeholder="E-Mail"
            formControlName="email"
            required
          />
          <label>E-Mail</label>
          <button
            type="button"
            class="clearBtn"
            *ngIf="loginForm.get('email')?.value"
            (click)="loginForm.get('email')?.setValue('')"
          >
            &times;
          </button>
          <div class="input_icon">
            <img src="/img/log_in/mail.svg" alt="E-Mail" />
          </div>
        </div>

        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
        <div class="error">Bitte eine gültige E-Mail-Adresse eingeben.</div>
        }

        <div class="input_field" id="pwField">
          <input
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <label>Password</label>
          <button
            type="button"
            class="clearBtn"
            *ngIf="loginForm.get('password')?.value"
            (click)="loginForm.get('password')?.setValue('')"
          >
            &times;
          </button>
          <div class="input_icon cur_p">
            <img
              id="logInpwIcon"
              (click)="uiService.togglePasswordVisibility('password')"
              src="/img/log_in/lock.svg"
              alt="Lock"
            />
          </div>
        </div>

        @if(loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched){
        <div class="error">Passwort ist erforderlich.</div>
        }

        <div class="password_check">
          <label class="password_checkbox">
            <input
              type="checkbox"
              formControlName="rememberMe"
              (change)="onRememberMeChange()"
            />
            <img
              src="img/log_in/unchecked.svg"
              alt="Checkbox aktiv"
              class="checkmark"
            />
          </label>
          <p>Remember me</p>
        </div>

        <div class="buttons_wrapper">
          <button
            type="submit"
            class="button_full"
            [disabled]="!loginForm.valid"
          >
            Log in
          </button>
          <button (click)="guestLogin()" class="button_empty" type="button">
            Guest log in
          </button>
        </div>

        @if(errorMessage){
        <div class="error">{{ errorMessage }}</div>
        }
      </div>
    </form>
  </div>
</section>
