@import "../../shared/SCSS/colors.scss";
@import "../../shared/SCSS/mixins.scss";
@import "../../shared/SCSS/variables.scss";

section {
  @include flexbox();
  height: 575px;
}

.card {
  @include flexbox($fd: column, $g: 2rem);
  width: clamp(300px, 50%, 550px);
  max-height: 600px;
  /* height: 100%; */
  margin-inline: 1rem;
  padding: 1rem;
}

h1 {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 3em;
  font-weight: 700;

  .seperator {
    height: 0px;
    width: 160px;
    border-bottom: 3px solid $clr_light_blue;
    margin-top: 0.3rem;
  }
}

.login_form {
  @include flexbox($fd: column, $g: 2rem);
  width: 100%;
  max-height: 500px;
  height: 100%;
  padding: 1rem;

  .input_layout {
    @include flexbox($jc: none, $fd: column, $g: 1.5rem);
    max-width: 420px;
    width: 100%;
    height: 100%;

    .error {
      align-self: flex-start;
      margin-top: -15px;
      color: red;
    }

    .input_field {
      position: relative;
      @include flexbox($jc: space-between, $g: 0.5rem);
      /* max-width: clamp(250px, 100%, 350px); */
      width: 100%;
      height: 3rem;
      padding: 0 1.5rem;
      border: 1px solid $clr_font_light;
      border-radius: $border_radius_input;

      input {
        border: none;
        height: 1.5rem;
        width: 100%;
        font-size: 1em;
        background: transparent;
        color: $clr_sidebar_active;

        &::placeholder {
          color: transparent;
        }

        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
          transform: translateY(-2.1rem) scale(0.8);
          color: $clr_light_blue;
          background: $clr_card;
        }

        &:focus-visible {
          outline: none;
        }
      }

      label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        transform-origin: left center;
        font-size: 1em;
        color: $clr_font_light;
        background: transparent;
        padding: 0 0.5rem;
        pointer-events: none;
        transition: transform 0.4s ease, color 0.4s ease;
      }

      .clearBtn {
        @include curserPointer;
        border: unset;
        background-color: $clr_card;
        color: $clr_font_light_grey;
        font-size: 1.5rem;
      }

      .icon {
        display: flex;
        align-items: center;
      }
    }
  }
}

.password_check {
  @include flexbox($g: 1rem);
  width: 100%;

  .password_checkbox {
    @include flexbox($g: 1rem);

    input[type="checkbox"] {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px !important;
      overflow: hidden;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
    }

    .checkmark {
      @include box(1.6rem);
      cursor: pointer;
      display: inline-block;
      transition: opacity 0.3s ease;
    }

    input[type="checkbox"]:not(:checked) + .checkmark {
      content: url("../../../../public/img/log_in/unchecked.png");
    }

    input[type="checkbox"]:checked + .checkmark {
      content: url("../../../../public/img/log_in/checked.png");
    }
  }

  > p {
    font-size: 15px;
  }
}

.buttons_wrapper {
  @include flexbox($g: 1rem);
  width: 100%;
}

@media only screen and (max-width: $media_size_tablet_xs) {
  .buttons_wrapper {
    flex-direction: column;

    .button_full {
      width: 160px;
    }
  }
}
