<section>
  <div class="head_wrapper">
    <img class="logo_img" src="/img/log_in/logo_desktop.png" alt="Logo" />

    <div class="sign_up_desktop">
      <p>Not a Join user?</p>
      <button class="button_full" (click)="linkToSignUp()">Sign up</button>
    </div>
  </div>

  <div class="card card_wrapper">
    <h1>
      Log in
      <div class="seperator"></div>
    </h1>

    <form class="login_form">
      <div class="input_layout">
        <div class="input_field">
          <input
            autocomplete="email"
            placeholder="E-Mail "
            formControlName="email"
            required
          />
          <label>E-Mail</label>
          <div class="icon">
            <img src="/img/log_in/mail.png" alt="E-Mail" />
          </div>
        </div>

        <div class="input_field" id="pwField">
          <input
            id="password"
            autocomplete="current-password"
            type="password"
            placeholder=" Password"
            formControlName="password"
            required
          />
          <label>Password</label>
          <div class="icon">
            <img id="logInpwIcon" src="/img/log_in/lock.png" alt="Lock" />
          </div>
        </div>

        <div class="password_check">
          <label class="password_checkbox">
            <input type="checkbox" />
            <img
              src="img/log_in/unchecked.png"
              alt="Checkbox aktiv"
              class="checkmark"
            />
          </label>
          <p>Remember my password</p>
        </div>

        <div class="buttons_wrapper">
          <button class="button_full">Log in</button>
          <button class="button_empty" (click)="logInUser()">Guest Log in</button>
        </div>
      </div>
    </form>
  </div>

  <div class="sign_up_mobile">
    <p>Not a Join user?</p>
    <button class="button_full" (click)="linkToSignUp()">Sign up</button>
  </div>

  <div class="legal_informations">
    <p (click)="linkToImprint()">Imprint</p>
    <p (click)="linkToPrivacyPolicy()">Privacy Policy</p>
  </div>
</section>
