<section>
  
  <div class="card card_wrapper">
    <h1>
      Log in
      <div class="seperator"></div>
    </h1>

    <!-- <form class="login_form">
      <div class="input_layout">
        <div class="input_field">
          <input
            autocomplete="email"
            placeholder="E-Mail "
            formControlName="email"
            required
          />
          <label>E-Mail</label>
          <div class="icon">
            <img src="/img/log_in/mail.png" alt="E-Mail" />
          </div>
        </div>

        <div class="input_field" id="pwField">
          <input
            id="password"
            autocomplete="current-password"
            type="password"
            placeholder=" Password"
            formControlName="password"
            required
          />
          <label>Password</label>
          <div class="icon">
            <img id="logInpwIcon" src="/img/log_in/lock.png" alt="Lock" />
          </div>
        </div>

        <div class="password_check">
          <label class="password_checkbox">
            <input
              type="checkbox"
              required
              aria-label="Remember my password"
              required
            />
            <img
              src="img/log_in/unchecked.png"
              alt="Checkbox aktiv"
              class="checkmark"
            />
          </label>
          <p>Remember my password</p>
        </div>

        <div class="buttons_wrapper">
          <button class="button_full">Log in</button>
          <button class="button_empty" (click)="logInUser()">
            Guest Log in
          </button>
        </div>
      </div>
    </form> -->

    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input_layout">
        <!-- E-Mail -->
        <div class="input_field">
          <input
            autocomplete="email"
            placeholder="E-Mail"
            formControlName="email"
            required
          />
          <label>E-Mail</label>
          <button
            type="button"
            class="clear"
            *ngIf="loginForm.get('email')?.value"
            (click)="loginForm.get('email')?.setValue('')"
          >
            &times;
          </button>
          <div class="icon">
            <img src="/img/log_in/mail.png" alt="E-Mail" />
          </div>
          <!-- Fehleranzeige -->
          <div
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            class="error"
          >
            Bitte eine gültige E-Mail-Adresse eingeben.
          </div>
        </div>

        <!-- Passwort -->
        <div class="input_field" id="pwField">
          <input
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <label>Password</label>
          <button
            type="button"
            class="clear"
            *ngIf="loginForm.get('password')?.value"
            (click)="loginForm.get('password')?.setValue('')"
          >
            &times;
          </button>
          <div class="icon">
            <img id="logInpwIcon" src="/img/log_in/lock.png" alt="Lock" />
          </div>
          <!-- Fehleranzeige -->
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="error"
          >
            Passwort ist erforderlich.
          </div>
        </div>

        <!-- Remember Me -->
        <div class="password_check">
          <label class="password_checkbox">
            <input
              type="checkbox"
              formControlName="rememberMe"
              (change)="onRememberMeChange()"
            />
            <img
              src="img/log_in/unchecked.png"
              alt="Checkbox aktiv"
              class="checkmark"
            />
          </label>
          <p>Remember me</p>
        </div>

        <!-- Buttons -->
        <div class="buttons_wrapper">
          <button
            type="submit"
            class="button_full"
            [disabled]="!loginForm.valid"
          >
            Log in
          </button>
          <button (click)="guestLogin()" class="button_empty" type="button">
            Guest log in
          </button>
        </div>

        <!-- Globale Fehlermeldung -->
        <div *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>

</section>
