@import "../../../shared/SCSS/colors.scss";
@import "../../../shared/SCSS/mixins.scss";
@import "../../SCSS/variables.scss";
@import "../../../../styles.scss";

section {
  @include flexbox($fd: column, $g: 2rem);
  height: 100dvh;

  img {
    width: 80px;
  }

  .card {
    @include flexbox($fd: column, $g: 2rem);
    min-width: 250px;
    height: 50%;
    margin-inline: 1rem;
    padding: 1rem;

    :first-child {
      text-align: start;
      font-weight: 500;
      font-size: 2rem;
      margin: 0;
    }

    :nth-child(2) {
      text-align: center;
      font-size: clamp(1.3rem, 2vw, 1.5rem);
    }

    :nth-child(3) {
     width: 150px;
     height: 60px;
    }
  }
}
