@import "../../shared/SCSS/colors.scss";
@import "../../shared/SCSS/mixins.scss";
@import "../../shared/SCSS/variables.scss";

section {
  display: flex;
  height: calc(100dvh - 6rem);
  margin-left: 15rem;
  padding-left: 180px;

  .content {
    .head {
      display: flex;
      align-items: center;
      height: 70px;
      margin: 1rem 1rem;

      h1 {
        font-size: 3.75rem;
        font-size: clamp(3rem, 2.5vw, 3.75rem);

        margin: 0;
      }

      > div {
        @include flexbox($jc: none, $fd: row-reverse);

        span {
          font-size: 27px;
        }

        .seperator {
          height: 0px;
          width: 3.75rem;
          rotate: 90deg;
          border-bottom: 3px solid $clr_light_blue;
        }
      }
    }

    .content_wrapper_left {
      @include flexbox;
    }

    .info_icon {
      width: clamp(3.75rem, 6vw, 5rem);
      height: clamp(3.75rem, 6vw, 5rem);
    }

    .sum_counter {
      font-size: clamp(3rem, 6vw, 4rem);
      font-weight: 600;
      line-height: 76.8px;
      text-align: center;
    }

    .sum_txt {
      font-size: clamp(16px, 2.5vw, 20px);
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }

    .middle_card {
      @include box(100%, auto);
      transition: color 0.5s ease, background-color 0.5s ease,
        transform 0.5s ease;

      &:hover {
        cursor: pointer;
        color: $clr_bg;
        background-color: $clr_dark_gray;
        transform: scale(0.955);
      }
    }

    .big_card {
      @include box(100%, auto);
      transition: color 0.5s ease, background-color 0.5s ease,
        transform 0.5s ease;

      > :first-child {
        .info_icon {
          @include bgCover;
          background-image: url("../../../../public/img/summary/prio.svg");
          transition: transform 0.5s ease, background-image 0.5s ease;
        }
      }

      &:hover {
        cursor: pointer;
        color: $clr_bg;
        background-color: $clr_dark_gray;
        transform: scale(0.955);
      }
    }

    .small_card {
      @include box(100%, auto);
      transition: color 0.5s ease, background-color 0.5s ease,
        transform 0.5s ease;

      &:hover {
        cursor: pointer;
        color: $clr_bg;
        background-color: $clr_dark_gray;
        transform: scale(0.955);
      }
    }

    .container {
      width: 560px;
      height: 560px;
      margin: 2rem 1rem 0 1rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem 2rem;
      grid-auto-flow: row;
      grid-template-areas:
        "toDo toDo toDo done done done"
        "priority priority priority priority priority priority"
        "taskInBoard taskInBoard taskInProgress taskInProgress feedback feedback";

      .toDo {
        grid-area: toDo;
        @include flexbox($g: 1rem);
        padding: 1rem;

        > :first-child {
          .info_icon {
            @include bgCover;
            background-image: url("../../../../public/img/summary/pen.svg");
            transition: background-image 0.6s ease, transform 0.6s ease;
          }
        }

        &:hover {
          > :first-child {
            .info_icon {
              background-image: url("../../../../public/img/summary/pen_hover.svg");
              transform: scale(1.1);
            }
          }
        }
      }

      .done {
        grid-area: done;
        @include flexbox($g: 2rem);
        padding: 1rem;

        > :first-child {
          .info_icon {
            @include bgCover;
            background-image: url("../../../../public/img/summary/check.svg");
            transition: background-image 0.6s ease, transform 0.6s ease;
          }
        }

        &:hover {
          > :first-child {
            .info_icon {
              background-image: url("../../../../public/img/summary/check_hover.svg");
              transform: scale(1.1);
            }
          }
        }
      }

      .priority {
        grid-area: priority;
        @include flexbox($g: 2rem);
        padding: 1rem 4rem;

        > div:first-child {
          @include flexbox($g: 2rem);

          .info_icon {
            @include bgCover;
            background-image: url("../../../../public/img/summary/prio.svg");
            transition: transform 0.6s ease;
          }
        }

        &:hover {
          > :first-child {
            .info_icon {
              background-image: url("../../../../public/img/summary/prio_hover.svg");
              transform: scale(1.1);
            }
          }
        }

        .seperator {
          height: 0px;
          width: 7rem;
          rotate: 90deg;
          border-bottom: 2px solid $clr_card_border;
        }

        > div:nth-child(3) {
          @include flexbox($fd: column, $g: 1rem);

          :first-child {
            @include typo(21px, 700, 25.2px);
          }
        }
      }

      .taskInBoard {
        grid-area: taskInBoard;
        @include flexbox($fd: column);
        text-align: center;
        padding: 1rem;
      }

      .taskInProgress {
        grid-area: taskInProgress;
        @include flexbox($fd: column);
        text-align: center;
        padding: 1rem;
      }

      .feedback {
        grid-area: feedback;
        @include flexbox($fd: column);
        text-align: center;
        padding: 1rem;
      }
    }
  }

  .greeting_wrapper {
    @include flexbox;
    flex: 1;
  }
}

/* Media Querys */

@media only screen and (max-width: $media_size_tabletxl) {
  section {
    margin-left: 0;
    padding: 1rem 0 0 2rem;

    .head {
      h1 {
        font-size: 3rem;
        margin: 0;
      }

      span {
        font-size: 27px;
      }

      .seperator {
        height: 0px;
        width: 60px;
        border-bottom: 3px solid $clr_light_blue;
        margin-top: 0.3rem;
      }
    }
  }
}

@media only screen and (max-width: $media_size_tablet_xm) {
  section {
    justify-content: center;

    .greeting_wrapper {
      display: none;
    }
  }
}

@media only screen and (max-width: $media_size_phone_xm) {
  section {
    padding: 0;

    .head {
      flex-direction: column !important;
      align-items: unset !important;
      height: auto !important;

      > div {
        align-items: unset !important;
        flex-direction: column !important;

        span {
          font-size: 1.25rem !important;
        }

        .seperator {
          width: 7.5rem !important;
          rotate: unset !important;
        }
      }
    }
  }
}
