<section>
  <div class="content">
    <div class="head">
      <h1>Join 360</h1>
      <div>
        <span>Key Metrics at a Glance</span>
        <div class="seperator"></div>
      </div>
    </div>

    <div class="content_wrapper_left">
      <div class="container">
        <div
          class="toDo card_wrapper middle_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div class="info_icon"></div>
          </div>
          <div>
            <div class="sum_counter">1</div>
            <div class="sum_txt">To-do</div>
          </div>
        </div>

        <div
          class="done card_wrapper middle_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div class="info_icon"></div>
          </div>
          <div>
            <div class="sum_counter">1</div>
            <div class="sum_txt">Done</div>
          </div>
        </div>

        <div
          class="priority card_wrapper big_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div>
              <div class="info_icon"></div>
            </div>
            <div>
              <div class="sum_counter">1</div>
              <div class="sum_txt">Urgent</div>
            </div>
          </div>
          <div class="seperator"></div>
          <div>
            <span>December 6, 2024</span>
            <span>Upcoming Deadline</span>
          </div>
        </div>

        <div
          class="taskInBoard card_wrapper small_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div class="sum_counter">5</div>
            <div class="sum_txt">
              Tasks <br />
              in Board
            </div>
          </div>
        </div>

        <div
          class="taskInProgress card_wrapper small_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div class="sum_counter">2</div>
            <div class="sum_txt">
              Tasks <br />
              in Progress
            </div>
          </div>
        </div>

        <div
          class="feedback card_wrapper small_card"
          (click)="uiService.navigate('board')"
        >
          <div>
            <div class="sum_counter">2</div>
            <div class="sum_txt">
              Awaiting <br />
              Feedback
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="greeting_wrapper">
    <div class="greeting">
      <h3>Greeting Message</h3>
      <h2>User Name</h2>
    </div>
  </div>

  @if(false){
  <div class="mobile_greeting_bg">
    <div class="mobile_greeting">
      <h3>Greeting Message</h3>
      <h2>User Name</h2>
    </div>
  </div>
  }
</section>
