@import "../../shared/SCSS/colors.scss";
@import "../../shared/SCSS/mixins.scss";
@import "../../shared/SCSS/variables.scss";

section {
    height: 100dvh;
    margin-left: 15rem;
    padding-left: 200px;
}