@import "../../shared/SCSS/colors.scss";
@import "../../shared/SCSS/mixins.scss";
@import "../../shared/SCSS/variables.scss";

section {
  @include randomBorder;
  height: 100dvh;
  margin-left: 15rem;
  padding-left: 200px;

  .head {
    @include randomBorder;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 2rem 0 0 0;

    h1 {
      font-size: 3.75rem;
      margin: 0;
    }

    > div {
      @include flexbox($jc: none, $fd: row-reverse);
    }

    span {
      font-size: 27px;
    }

    .seperator {
      height: 0px;
      width: 3.75rem;
      rotate: 90deg;
      border-bottom: 3px solid $clr_light_blue;
    }
  }
}

