<section>
  <div class="content">
    <div class="head">
      <h1>Join 360</h1>
      <div>
        <span>Key Metrics at a Glance</span>
        <div class="seperator"></div>
      </div>
    </div>

    <div class="content_wrapper_left">
      <div class="container">
        <div class="card_wrapper middle_card toDo">
          <div class="info_icon"></div>
          <div >
            <div class="sum_counter">1</div>
            <div class="sum_txt">To-do</div>
          </div>
        </div>

        <div class="card_wrapper middle_card done">
          <div class="info_icon"></div>
          <div>
            <div class="sum_counter">1</div>
            <div class="sum_txt">Done</div>
          </div>
        </div>

        <div class="card_wrapper priority"></div>

        <div class="card_wrapper taskInBoard"></div>

        <div class="card_wrapper feedback"></div>
      </div>
    </div>
  </div>

  <div class="greeting_wrapper">
    <div class="greeting">
      <h3>Greeting Message</h3>
      <h2>User Name</h2>
    </div>
  </div>

  @if(false){
  <div class="mobile_greeting_bg">
    <div class="mobile_greeting">
      <h3>Greeting Message</h3>
      <h2>User Name</h2>
    </div>
  </div>
  }
</section>
