@import "./app/shared/SCSS/colors.scss";
@import "./app/shared/SCSS/mixins.scss";
@import "./app/shared/SCSS/variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $clr_bg;
}

html,
body {
  height: 100%;
}

.d-none {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: $clr_dark_gray;
  color: $clr_card;
  border-radius: $border_radius_input;
  box-shadow: $card_box_shadow;

  &:hover {
    cursor: pointer;
    background-color: $clr_light_blue;
    border-color: $clr_light_blue;
    box-shadow: $btn_hvr_box_shadow;
  }
}
