@import "./app/shared/SCSS/colors.scss";
@import "./app/shared/SCSS/mixins.scss";
@import "./app/shared/SCSS/variables.scss";
@import "./app/shared/SCSS/font.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $clr_bg;
}

html,
body {
  height: 100%;
  font-family: "Inter", Helvetica, sans-serif;
  user-select: none;
}

.d_none {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr_sidebar_active;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr_light_blue;
}
